/* initialisation des polices d'écritures */
@font-face {
    font-family: 'Cocomat Light-trial';
    src: url('police_ecriture/cocomat/Cocomat Light-trial.ttf');
}

@font-face {
    font-family: 'Rounded_Elegance';
    src: url('police_ecriture/rounded_elegance/Rounded_Elegance.ttf');
}
/* ------------------------------------- */

@media screen and (max-width: 1680px) {
	/* Fond d'écran */
	body{
		background-color: #5E66A4;
		background-image: url("http://www.transparenttextures.com/patterns/blu-stripes.png");
	}

	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Cocomat Light-trial';
		font-size: 2.1em;
	}

	/* Ligne de séparation */
	#ligne {
		background-image:url("images/ligne.png");
		width: 40%;
		list-style : none;
		height:3px;
		margin: 0 auto;
	}

	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
		width: 40%;
		margin-left: 23%;
		font-size: 0.7em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
	}
	
	#cadreInscription{
	    width: 37%;
		/*margin-left: 62%;*/
		font-size: 0.7em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
		height: 250px;
		vertical-align: bottom;
	}
}


	/* Style du bouton de connexion */
	.btnEnregistrer {
	  background: #ffbf00;
	  cursor: pointer;
	  background-image: -webkit-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -moz-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -ms-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -o-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: linear-gradient(to bottom, #ffbf00, #bd7100);
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: Courier New;
	  color: #000000;
	  font-size: 16px;
	  padding: 4px 8px 4px 8px;
	  border: solid #000000 1px;
	  text-decoration: none;
	}

	.btnEnregistrer:hover {
	  background: #de8d00;
	  background-image: -webkit-linear-gradient(top, #de8d00, #c46500);
	  background-image: -moz-linear-gradient(top, #de8d00, #c46500);
	  background-image: -ms-linear-gradient(top, #de8d00, #c46500);
	  background-image: -o-linear-gradient(top, #de8d00, #c46500);
	  background-image: linear-gradient(to bottom, #de8d00, #c46500);
	  text-decoration: none;
	}

	/* Bouton inscription*/
	.btnInscription{
		background: #ffbf00;
		cursor: pointer;
		background-image: -webkit-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -moz-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -ms-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -o-linear-gradient(top, #ffbf00, #bd7100);
		background-image: linear-gradient(to bottom, #ffbf00, #bd7100);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0px;
		font-family: Courier New;
		color: #000000;
		font-size: 16px;
		padding: 4px 8px 4px 8px;
		border: solid #000000 1px;
		text-decoration: none;
	}

	.btnInscription:hover {
	  background: #de8d00;
	  background-image: -webkit-linear-gradient(top, #de8d00, #c46500);
	  background-image: -moz-linear-gradient(top, #de8d00, #c46500);
	  background-image: -ms-linear-gradient(top, #de8d00, #c46500);
	  background-image: -o-linear-gradient(top, #de8d00, #c46500);
	  background-image: linear-gradient(to bottom, #de8d00, #c46500);
	  text-decoration: none;
	}

	/* Style zone de remplissage de connexion */
	#identifiant {
		height: 25px;
		width: 250px;
		border: 1px solid black;
	}

	#motdePasse{
		height: 25px;
		width: 250px;
		border: 1px solid black;
	}
}

@media screen and (max-width: 1280px) {
	body{
		background-color: red;
	}
	
	
}

@media screen and (max-width: 980px) {
	
		
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Cocomat Light-trial';
		font-size: 1.8em;
	}
	
	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
		width: 40%;
		margin-left: 17%;
		font-size: 0.7em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
	}
	
	#cadreInscription{
	    width: 37%;
		/*margin-left: 62%;*/
		font-size: 0.7em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
		height: 250px;
		vertical-align: bottom;
	}
}

@media screen and (max-width: 840px) {
	
		
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Cocomat Light-trial';
		font-size: 1.6em;
	}
	
	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
		width: 40%;
		margin-left: 14%;
		font-size: 0.6em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
	}
	
	#cadreInscription{
	    width: 37%;
		margin-left: 8%;
		font-size: 0.6em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
		height: 250px;
		vertical-align: bottom;
	}	
}

@media screen and (max-width: 736px) {
	
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Cocomat Light-trial';
		font-size: 1em;
	}
	
	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
		width: 40%;
		margin-left: 4%;
		font-size: 0.4em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
	}
	
	#cadreConnexion a{
			font-size: 1.5em;
	}
	
	#cadreInscription{
	    width: 37%;
		margin-left: 19%;
		font-size: 0.4em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
		height: 250px;
		vertical-align: bottom;
	}
}

@media screen and (max-width: 480px) {
	body{
			background-color: orange;
		}
}
