/* initialisation des polices d'écritures */
@font-face {
    font-family: 'Fine College';
    src: url('police_ecriture/fine_college/Fine College.ttf');
}

@font-face {
    font-family: 'Rounded_Elegance';
    src: url('police_ecriture/rounded_elegance/Rounded_Elegance.ttf');
}
/* ------------------------------------- */

@media screen and (max-width: 1680px) {
	/* Fond d'écran */
	body{
		background-color: #7599d6;
		background-image: url("http://www.transparenttextures.com/patterns/blu-stripes.png");
	}

	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Fine College';
		font-size: 2em;
	}

	/* Ligne de séparation */
	#ligne {
		background-image:url("images/ligne.png");
		width: 40%;
		list-style : none;
		height:3px;
		margin: 0 auto;
	}

	/* conteneur */
	#conteneur{
		margin-left: 19%;
		font-family: "Rounded_Elegance";
		color: #000;
	}

	#conteneur h2 {
		margin-left: 43%;
	}

	/* Information de connexion */
	#connexion{
		display: block;
		margin-left: 15%;
		margin-top: 20px;
	}

	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
	}


	/* Style du bouton de connexion */
	.btnEnregistrer {
	  background: #ffbf00;
	  cursor: pointer;
	  background-image: -webkit-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -moz-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -ms-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -o-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: linear-gradient(to bottom, #ffbf00, #bd7100);
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: Courier New;
	  color: #000000;
	  font-size: 16px;
	  padding: 4px 8px 4px 8px;
	  border: solid #000000 1px;
	  text-decoration: none;
	}

	.btnEnregistrer:hover {
	  background: #de8d00;
	  background-image: -webkit-linear-gradient(top, #de8d00, #c46500);
	  background-image: -moz-linear-gradient(top, #de8d00, #c46500);
	  background-image: -ms-linear-gradient(top, #de8d00, #c46500);
	  background-image: -o-linear-gradient(top, #de8d00, #c46500);
	  background-image: linear-gradient(to bottom, #de8d00, #c46500);
	  text-decoration: none;
	}

	/* Bouton inscription*/
	.btnInscription{
		background: #ffbf00;
		margin-left: 27%;
		cursor: pointer;
		background-image: -webkit-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -moz-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -ms-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -o-linear-gradient(top, #ffbf00, #bd7100);
		background-image: linear-gradient(to bottom, #ffbf00, #bd7100);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0px;
		font-family: Courier New;
		color: #000000;
		font-size: 16px;
		padding: 4px 8px 4px 8px;
		border: solid #000000 1px;
		text-decoration: none;
	}

	.btnInscription:hover {
	  background: #de8d00;
	  background-image: -webkit-linear-gradient(top, #de8d00, #c46500);
	  background-image: -moz-linear-gradient(top, #de8d00, #c46500);
	  background-image: -ms-linear-gradient(top, #de8d00, #c46500);
	  background-image: -o-linear-gradient(top, #de8d00, #c46500);
	  background-image: linear-gradient(to bottom, #de8d00, #c46500);
	  text-decoration: none;
	}

	/* Style zone de remplissage de connexion */
	#identifiant {
		height: 25px;
		width: 250px;
		border: 1px solid black;
	}

	#motdePasse{
		height: 25px;
		width: 250px;
		border: 1px solid black;
	}
}

@media screen and (max-width: 1280px) {
	body{
		background-color: red;
	}
	
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Fine College';
		font-size: 1.8em;
	}
	
	/* conteneur */
	#conteneur{
		margin-left: 15%;
		font-family: "Rounded_Elegance";
		color: #000;
		font-size: 0.8em;
	}

	#conteneur h2 {
		margin-left: 43%;
	}

	/* Information de connexion */
	#connexion{
		display: block;
		margin-left: 15%;
		margin-top: 20px;
	}

	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
	}
}

@media screen and (max-width: 980px) {
	body{
			background-color: pink;
		}
		
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Fine College';
		font-size: 1.5em;
	}
	
	/* conteneur */
	#conteneur{
		margin-left: 12%;
		font-family: "Rounded_Elegance";
		color: #000;
		font-size: 0.7em;
	}

	#conteneur h2 {
		margin-left: 43%;
	}

	/* Information de connexion */
	#connexion{
		display: block;
		margin-left: 15%;
		margin-top: 20px;
	}

	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
	}
}

@media screen and (max-width: 840px) {
	body{
			background-color: green;
		}
		
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Fine College';
		font-size: 1.2em;
	}
	
	/* conteneur */
	#conteneur{
		margin-left: 4%;
		font-family: "Rounded_Elegance";
		color: #000;
		font-size: 0.6em;
	}

	#conteneur h2 {
		margin-left: 43%;
	}

	/* Information de connexion */
	#connexion{
		display: block;
		margin-left: 15%;
		margin-top: 20px;
	}

	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
	}
}

@media screen and (max-width: 736px) {
	body{
			background-color: grey;
		}
		
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Fine College';
		font-size: 0.9em;
	}
	
	/* conteneur */
	#conteneur{
		margin-left: 10%;
		font-family: "Rounded_Elegance";
		color: #000;
		font-size: 0.4em;
	}

	#conteneur h2 {
		margin-left: 43%;
	}

	/* Information de connexion */
	#connexion{
		display: block;
		margin-left: 0;
		margin-top: 20px;
	}

	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
	}
}

@media screen and (max-width: 480px) {
	body{
			background-color: orange;
		}
}
