/* initialisation des polices d'écritures */
@font-face {
    font-family: 'Cocomat Light-trial';
    src: url('../police_ecriture/cocomat/Cocomat Light-trial.ttf');
}

@font-face {
    font-family: 'Rounded_Elegance';
    src: url('../police_ecriture/rounded_elegance/Rounded_Elegance.ttf');
}
/* ------------------------------------- */

@media screen and (max-width: 1920px) {

	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Cocomat Light-trial';
		font-size: 2.1em;
	}

	/* Ligne de séparation */
	#ligne {
		background-image:url("../images/ligne.png");
		width: 40%;
		list-style : none;
		height:3px;
		margin: 0 auto;
	}

	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
		width: 40%;
		margin-left: 23%;
		font-size: 0.7em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
	}
	
	#cadreInscription{
	    width: 37%;
		/*margin-left: 62%;*/
		font-size: 0.7em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
		height: 250px;
		vertical-align: bottom;
	}
}


	/* Style du bouton de connexion */
	.btnEnregistrer {
	  background: #ffbf00;
	  cursor: pointer;
	  background-image: -webkit-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -moz-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -ms-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: -o-linear-gradient(top, #ffbf00, #bd7100);
	  background-image: linear-gradient(to bottom, #ffbf00, #bd7100);
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: Courier New;
	  color: #000000;
	  font-size: 16px;
	  padding: 4px 8px 4px 8px;
	  border: solid #000000 1px;
	  text-decoration: none;
	}

	.btnEnregistrer:hover {
	  background: #de8d00;
	  background-image: -webkit-linear-gradient(top, #de8d00, #c46500);
	  background-image: -moz-linear-gradient(top, #de8d00, #c46500);
	  background-image: -ms-linear-gradient(top, #de8d00, #c46500);
	  background-image: -o-linear-gradient(top, #de8d00, #c46500);
	  background-image: linear-gradient(to bottom, #de8d00, #c46500);
	  text-decoration: none;
	}

	/* Bouton inscription*/
	.btnInscription{
		background: #ffbf00;
		cursor: pointer;
		background-image: -webkit-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -moz-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -ms-linear-gradient(top, #ffbf00, #bd7100);
		background-image: -o-linear-gradient(top, #ffbf00, #bd7100);
		background-image: linear-gradient(to bottom, #ffbf00, #bd7100);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0px;
		font-family: Courier New;
		color: #000000;
		font-size: 16px;
		padding: 4px 8px 4px 8px;
		border: solid #000000 1px;
		text-decoration: none;
	}

	.btnInscription:hover {
	  background: #de8d00;
	  background-image: -webkit-linear-gradient(top, #de8d00, #c46500);
	  background-image: -moz-linear-gradient(top, #de8d00, #c46500);
	  background-image: -ms-linear-gradient(top, #de8d00, #c46500);
	  background-image: -o-linear-gradient(top, #de8d00, #c46500);
	  background-image: linear-gradient(to bottom, #de8d00, #c46500);
	  text-decoration: none;
	}

	/* Style zone de remplissage de connexion */
	#identifiant {
		height: 25px;
		width: 250px;
		border: 1px solid black;
	}

	#motdePasse{
		height: 25px;
		width: 250px;
		border: 1px solid black;
	}
}

@media screen and (max-width: 1280px) {
	body{
		background-color: red;
	}
	
	
}

@media screen and (max-width: 980px) {
		
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Cocomat Light-trial';
		font-size: 1.8em;
	}
	
	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
		width: 40%;
		margin-left: 17%;
		font-size: 0.7em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
	}
	
	#cadreInscription{
	    width: 37%;
		/*margin-left: 62%;*/
		font-size: 0.7em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
		height: 250px;
		vertical-align: bottom;
	}
}

@media screen and (max-width: 840px) {
	
		
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Cocomat Light-trial';
		font-size: 1.6em;
	}
	
	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
		width: 40%;
		margin-left: 14%;
		font-size: 0.6em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
	}
	
	#cadreInscription{
	    width: 37%;
		margin-left: 8%;
		font-size: 0.6em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
		height: 250px;
		vertical-align: bottom;
	}	
}

@media screen and (max-width: 736px) {
	
	/* titre */
	#header{
		text-align: center;
		margin-top: 10%;
		font-family: 'Cocomat Light-trial';
		font-size: 1em;
	}
	
	/* Cadre de connexion globale*/
	#cadreConnexion{
		padding-top: 90px;
		height: 250px;
		width: 40%;
		margin-left: 4%;
		font-size: 0.4em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
	}
	
	#cadreConnexion a{
			font-size: 1.5em;
	}
	
	#cadreInscription{
	    width: 37%;
		margin-left: 19%;
		font-size: 0.4em;
		font-family: 'Rounded_Elegance';
		display: inline-block;
		height: 250px;
		vertical-align: bottom;
	}
}


/* Fond d'écran */
body{
	background: url(../images/grey_wash_wall.png);
}

.mdl-layout__container{
    top: 0;
}

.conteneur{
    background-color: white;
    margin: 100px auto;
    width: 960px;
    border-radius: 10px;
}

.formulaire{
    padding:30px;
}

.header{
    top: 0;
    height: 100px;
    background-color: #3F51B5;
    color: white;
    border-top-left-radius: 9px;
	border-top-right-radius: 9px;
    vertical-align: middle;
    padding: 5px 0px 30px 30px;
    text-align: center;
}

.footer{
    bottom: 0;
    text-align: right;
}

.contenu_form{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
}

.mdl-textfield{
    margin: 0 5% !important;
}

.mdl-radio{
    margin: 0 10% !important;
}

.section{
    font-size: 20px;
    color: #3F51B5;
    margin-bottom: 5px;
}

.section span {
    background: #3F51B5;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.panier{
    padding: 10px;
}

.articlesPanier{
    width: 940px !important; 
    margin: auto !important;
}

.buttonRight{
    float: right;
}

.buttonLeft{
    float: left;
}

.mdl-mega-footer{
	bottom: 0;
}

#conteneurIndex{
	margin-top: 100px;
	background-color: #E6E6E6;
	
}

.mdl-data-table__text-center{
    text-align: center !important;
}

/* regles de Recherche */
.reglesRecherche {
	padding: 10px;
	text-align: center;
}

.reglesRecherche ul {
	text-align: left;
}

.btnRechercheIndex {
	margin-top: 30px;
	}
<<<<<<< HEAD

	.btnRechercheIndex:hover {
	  background: #de8d00;
	  background-image: -webkit-linear-gradient(top, #de8d00, #c46500);
	  background-image: -moz-linear-gradient(top, #de8d00, #c46500);
	  background-image: -ms-linear-gradient(top, #de8d00, #c46500);
	  background-image: -o-linear-gradient(top, #de8d00, #c46500);
	  background-image: linear-gradient(to bottom, #de8d00, #c46500);
	  text-decoration: none;
	}

.coordonneesFacture{
    width: 480px !important;
    margin: 30px auto !important;
}

.ligneCenter{
    vertical-align: inherit !important;
}
=======
>>>>>>> origin/master
